@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	// font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Rubik', sans-serif
	overflow-x: hidden
	color: $text
	background-color: #000
	font-size: 1px
	padding: 0
	margin: 0

header
	width: 100%
	display: grid
	align-items: center
	justify-content: space-between
	height: 140px
	padding: 0 44px
	z-index: 1000
	margin-bottom: 30px
	grid-template-columns: auto 1fr auto
	width: 100%

	.small-button
		margin: 30px
		margin-left: 0

	&.grad
		background: linear-gradient(180deg, rgba(84, 84, 84, 0.7) 0%, transparent 100%)

	nav
		display: inline-block
		margin-left: 30px

		a
			padding: 10px 20px
			transition: color .2s, background-color .2s, backdrop-filter .06s
			position: relative
			display: inline-block
			font-size: 18em
			// text-shadow: 0 2px 15px black
			
			&::after
				content: ''
				position: absolute
				// left: 20px
				// bottom: 13px
				left: 0
				bottom: 0
				height: 2px
				width: 0
				background-color: #ff4141
				transition: .35s
				opacity: .5

			&:hover
				color: #ff4141
				background-color: rgba(31, 12, 12, 0.3)
				backdrop-filter: blur(30px)

				&::after
					// width: calc(100% - 40px)
					width: 100%

	aside
		display: flex
		align-items: center

		.small-button
			margin-right: 0


section
	&.wrapper
		width: 100%
		min-height: 100vh
		overflow: hidden
		position: fixed

	&#mainVideo
		video
			user-select: none
			z-index: -100
			position: absolute
			top: 50%
			transform: translateY(-50%)

	.sect-box
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		background: rgba(27, 26, 26, 0.57)
		text-align: center
		color: #efefef
		padding-top: 70px
		opacity: .88
		backdrop-filter: blur(60px) contrast(1.5) saturate(3)

		footer
			#copyright
				font-size: 14em
				opacity: .5
				color: #fff
				line-height: 1.4
				letter-spacing: 0.075em;
				font-weight: 300
				// min-width: 960px
				max-width: 60vw
				margin: 15px auto 40px

.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)


h1
	color: #EFEFEF
	font-size: 64em
	font-weight: bold
	text-transform: uppercase
	line-height: 1.1
	margin: 20px 0
	
h2
	color: #EFEFEF
	font-size: 48em
	font-weight: bold
	line-height: 1.1
	
h3
	color: #EFEFEF
	font-size: 36em
	font-weight: bold
	line-height: 1.1

ul
	font-size: 14em
	padding: 0

p
	font-size: 20em
	font-weight: 300
	color: #FFF
	opacity: .8
	line-height: 1.4

.big-button
	background: linear-gradient(101.93deg, #FF0000 0.13%, rgba(255, 0, 0, 0) 100.13%), $accent
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0px 4px 69px rgba(255, 0, 0, 0.84);
	border-radius: 5px
	font-size: 18em
	color: #EFEFEF
	padding: 22px 60px
	display: inline-block
	margin: 30px
	text-transform: uppercase
	font-weight: 400
	letter-spacing: .5px

	&:hover

.small-button
	background: linear-gradient(101.93deg, #FF0000 0.13%, rgba(255, 0, 0, 0) 100.13%), $accent
	box-shadow: 0px 4px 69px rgba(255, 0, 0, 0.84)
	border-radius: 3px
	font-size: 15em
	color: #EFEFEF
	padding: 10px 30px
	display: inline-block
	margin: 30px
	text-transform: uppercase
	font-weight: 400
	letter-spacing: .5px
	transition: .2s

	&:hover
		background-color: red
		box-shadow: 0px 7px 50px red;
	

a
	// font-size: 14em
	color: #EFEFEF
	text-decoration: none

	&:hover
		color: #EFEFEF
		text-decoration: none

	&:active
		text-decoration: none
		color: #EFEFEF

	&:focus
		text-decoration: none
		color: #EFEFEF

.container
	max-width: 1900px
	margin: 0 auto
	padding: 0 44px

#player
	width: 50vw
	min-width: 850px
	max-width: 1200px

.player-container
	text-align: center

.player-box
	// width: 1000px
	// height: 600px
	position: relative
	overflow: hidden
	box-shadow: 0px 0px 200px rgba(143, 138, 209, 0.15)
	margin: 35px
	display: inline-block

	.player-info
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 50%
		z-index: 1
		background-color: #0000006c
		padding: 60px 60px
		backdrop-filter: blur(40px)
		display: flex
		align-items: flex-start
		flex-direction: column
		text-align: left
		// justify-content: center
		h3
			margin-bottom: 30px

		ul
			list-style: none
			margin-bottom: 30px

			li
				color: rgba(#EFEFEF, .7)
				font-weight: 300
				position: relative
				padding-left: 25px
				margin-bottom: 10px

				&::before
					content: ''
					position: absolute
					top: 0
					height: 100%
					left: 0
					width: 20px
					background-image: url(/img/_src/li-check.png)
					background-position: left center
					background-repeat: no-repeat

		.player-info-button
			background: linear-gradient(101.93deg, #0084ff 0%, rgba(255, 0, 0, 0) 100%), #4600b6
			box-shadow: 0px 4px 69px rgba(0, 68, 255, 0.84)
			border-radius: 100px
			font-size: 15em
			color: #EFEFEF
			padding: 20px 40px
			display: inline-block
			text-transform: uppercase
			font-weight: 400
			letter-spacing: .7px

	.player-placeholder
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-image: url('/img/_src/video-placeholder.png')
		background-position: center
		background-size: cover

.video-grid
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr
	grid-gap: 30px
	margin-top: 50px

.video
	color: #fff
	height: 200px
	position: relative
	display: inline-block
	box-shadow: 0px 0px 200px rgba(143, 138, 209, 0.15)
	overflow: hidden
	background-color: #212127
	background: linear-gradient(270deg, #212127, #551e1e, #212127)
	background-size: 600% 600%

	-webkit-animation: placeholder 3s ease infinite
	-moz-animation: placeholder 3s ease infinite
	animation: placeholder 3s ease infinite

	&.live
		box-shadow: 0px 0px 200px rgba($accent, 0.2), 0 0 30px 2px rgba($accent, .3), 0 0 2px 4px rgba($accent, .1)
		
		.video-live
			opacity: 1


	&:hover
		.video-poster
			transform: scale(1.15) rotate(3deg)
			filter: brightness(.6) contrast(3) sepia(5) hue-rotate(-45deg) saturate(5) contrast(.92)

	&:nth-child(even):hover
		.video-poster
			transform: scale(1.15) rotate(-3deg)
		

	&-poster
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		background-size: cover
		background-position: center
		transition: 1s cubic-bezier(0, 0.99, 0.24, 1)
		will-change: transform, filter

	&-title
		position: absolute
		bottom: 0
		padding: 11px 20px
		font-weight: 400
		opacity: 0.85
		width: 100%
		font-size: 16em
		backdrop-filter: blur(11px)

	&-live
		position: absolute
		top: 15px
		right: 15px
		font-size: 12em
		background-color: rgba( #FF0D0E, .9 )
		padding: 3px 10px
		text-transform: uppercase
		border-radius: 3px
		font-weight: 400
		letter-spacing: .05em
		opacity: 0
		transition: 1s

.input-button
	background: linear-gradient(101.93deg, #FF0000 0.13%, rgba(255, 0, 0, 0) 100.13%), $accent
	box-shadow: 0px 4px 60px rgba(255, 0, 0, 0.7)
	border-radius: 3px
	color: #fff
	font-size: 18em
	border: none
	outline: none
	font-family: Rubik,sans-serif
	text-align: center
	padding: 0 40px
	height: 60px
	transition: .2s

	&:hover
		background-color: #FF0000
		box-shadow: 0px 10px 80px rgba(255, 0, 0, 0.84)

.input-field
	font-size: 16em
	color: #fff
	background-color: #0B0B0B
	display: flex
	align-items: center
	height: 60px
	padding: 0 20px

	.input
		flex-grow: 1
		background-color: transparent
		color: #BD0708
		font-size: 18px
		border: none
		outline: none
		user-select: all
		font-family: Rubik,sans-serif
		text-align: right
		min-width: 1px

		&[type=number]
			-moz-appearance:textfield
		
		&.url
			text-decoration: underline

	select
		flex-grow: 1
		background-color: transparent
		color: $accent
		font-size: 18px
		border: none
		outline: none
		font-family: Rubik,sans-serif
		text-align: right
		cursor: pointer
		-ms-appearance: none
		appearance: none!important
		-moz-appearance: none
		-webkit-appearance: none

		option
			color: $accent
			background: #000000

	label
		margin: 0
		color: rgba(#fff, .8)
		margin-right: 10px

.flex-inputs
	display: flex
	margin-top: 35px

	& > *
		margin-right: 35px

		&:last-child
			margin-right: 0

.referal-sect
	display: flex

	.wide-col
		flex-grow: 1

	.small-col
		width: 580px

.wide
	flex-grow: 1

.info-box

.information-field
	font-size: 16px
	color: rgba(#fff, .4)
	border-bottom: 1px solid rgba(#fff, .1)
	padding: 20px 0

	span
		color: $accent


.info-box
	background: #0D0D0D
	padding: 35px
	box-sizing: border-box
	margin-bottom: 20px

	.info-caption
		font-size: 22em
		line-height: 120%
		color: rgba(255, 255, 255, 0.28)
		margin-bottom: 20px

	.info-data
		font-weight: 300
		font-size: 16em
		color: #FFFFFF
		letter-spacing: .2px

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none

@keyframes placeholder
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0% 50%



@media screen and (min-width: 2000px)
	.player-box
		margin: 100px

	body
		font-size: 1.2px

@media screen and (max-width: 1560px)
	.video-grid
		grid-template-columns: 1fr 1fr 1fr 1fr
		grid-gap: 30px
		margin-top: 50px

@media screen and (max-width: 1200px)
	body
		font-size: .85px
		
	.video-grid
		grid-template-columns: 1fr 1fr 1fr 
		grid-gap: 30px
		margin-top: 50px

@media screen and (max-width: 900px)

	body
		font-size: .7px
		
	.video-grid
		grid-template-columns: 1fr 1fr
		grid-gap: 30px
		margin-top: 50px
		margin-bottom: 50px
		
		.video-live
			font-size: 15em

		.video-title
			font-size: 20em

	.player-box
		display: block
		margin: 30px 0

		.player-info
			width: 70%
			padding: 40px

			h3
				margin-bottom: 20px

			ul
				font-size: 16em
				margin-bottom: 15px

				li
					margin-bottom: 7px

			.player-info-button
				font-size: 14em
				padding: 14px 28px


	#player
		width: 100%
		min-width: unset
		max-width: 900px

@media screen and (max-width: 650px)
	section
		&.wrapper
			position: relative

	section
		.sect-box
			position: relative
			backdrop-filter: none
			background-color: transparent
			padding: 0 30px

			footer
				#copyright
					margin: 20px 0 30px
					width: 100%
					max-width: unset
					min-width: unset

			h1
				font-size: 42em

			p
				font-size: 18em

			.big-button
				font-size: 16em
				padding: 14px 24px
				margin: 15px 30px;


	#video
		display: none
		opacity: 0
	
	h1
		text-align: center

	p
		text-align: center

	header 
		height: auto
		padding: 0
		background: transparent
		display: grid
		grid-template-areas: 	'logo live' 'nav nav'
		grid-template-columns: 1fr auto

		.small-button
			margin-left: 0

		.logo
			margin: 30px

		nav
			display: flex
			flex-direction: row
			align-items: center
			justify-content: space-between
			margin: 0
			padding: 0 10px
			// margin-top: 30px
			width: 100%
			grid-area: nav

			a
				display: block
				text-align: center
				padding: 0 5px
				white-space: nowrap
				font-size: 10px
				width: 100%
				color: rgba(#fff, .3)
				

			#home-button,
			#money-button,
			#question-button,
			#shield-button
				display: block
				background-color: #fff
				mask-position: center
				mask-size: contain
				mask-repeat: no-repeat
				width: 100%
				height: 24px
				margin-bottom: 5px
				opacity: .1

			#home-button
				mask-image: url('../img/_src/home.svg')

			#money-button
				mask-image: url('../img/_src/save-money.svg')

			#question-button
				mask-image: url('../img/_src/question.svg')

			#shield-button
				mask-image: url('../img/_src/shield.svg')

	body
		font-size: .7px
		
	.video-grid
		grid-template-columns: 1fr
		grid-gap: 50px
		margin-top: 50px

	.player-box
		// display: block
		// margin: 30px 0

		.player-info
			width: 100%
			padding: 30px

			h3
				margin-bottom: 20px
				font-size: 26em

			ul
				font-size: 15em
				margin-bottom: 10px

				li
					margin-bottom: 5px

			.player-info-button
				font-size: 14em
				padding: 14px 28px